* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --primary-color: #00ff00bd;
    --secondary-color: #024e76;
    --tertiary-color: #1f1f1f;
    --bkg-color: rgb(68, 68, 68);
}

/* Start Body */
body {
    background-color: var(--bkg-color);
    color: var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link {
    color: aquamarine;
    text-decoration: none;
}

a:visited {
    color: rgb(93, 187, 156);
}

a:hover {
    color: rgb(158, 255, 145);
}

/* Start Header */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    /* color: white; */
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/kboard_grn_01.jpg");
    background-position: 80%;
    background-size: auto;
    background-attachment: fixed;
    z-index: 9999;
    opacity: .65;
    fill-opacity: var(--bkg-color);
    transition: .5s ease;
}

header:hover {
    opacity: 1;
    /* background-image: url(""); */
    transition: .5s ease;
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    color: white;
    margin: 0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);


}

header h1 img {
    /* display: flex; */
    width: 100px;
    height: 100px;
}

header h1 span {
    text-decoration: none;
    color: white;
    vertical-align: top;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.65vw;
    /* font-size: 1.55vw; */
    text-shadow: 0 0 10px #00000080;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* End Header */

/* Start Hero Style */
.hero {
    background-image: url("../images/kboard_grn_01.jpg");
    background-position: 80%;
    background-size: auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    margin-bottom: 20px;
    /* height: 500px; */
}

.hero p {
    display: flex;
    align-items: flex-end;
    width: auto;
    text-align: right;
    padding: 10px;
    color: rgb(0, 253, 0);
    font-size: 22px;
    justify-content: flex-end;
    background-color: #000000;
    opacity: 0.5;
}
/* End Hero */

/* Start About styles */

.about {
    /* border: 1px solid white; */
    /* margin-left: 100px; */
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid white; */
    display: flex;
    /* margin-left: 100px; */
    width: 90%;
    /* align-items: stretch; */
    /* justify-content: space-around; */
    
}

.about h2 {
    flex: 2 2 50%;
    /* border: 1px solid white; */
    display: flex;
    font-size: 2vw;
    text-align: right;
    justify-content: flex-end;
    /* width: 100%; */
    /* padding-right: 20px; */
    /* margin-left: 50px; */
}



.about p span {
    font-style: italic;
}

.aboutSec {
    border-left: 5px solid var(--primary-color);
    margin-bottom: 10px;
    flex: 3 6 100%;    
    padding: 20px;
    font-size: 1.2vw;
    /* width: 100%; */
    text-align: justify;
}

/* End About Styles */

/* Start Work Styles */

.work {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid white; */
    /* display: flex; */
    /* margin-left: 100px; */
    width: 90%;
    /* align-items: stretch; */
    /* justify-content: space-between; */
    /* flex-wrap: nowrap; */
    
}

.work h2 {
    flex: 2 2 100%;
    /* border: 1px solid white; */
    
    font-size: 2vw;
    text-align: right;
    justify-content: flex-end;
    /* width: 100%; */
    /* padding-right: 20px; */
    /* margin-left: 50px; */
}

.projects {
    /* border: 1px solid white; */
    /* display: flex; */
    border-left: 5px solid var(--primary-color);
    margin-bottom: 10px;
    /* align-items: flex-start; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}

.proj1 {
    opacity: .5;
    transition: .5s ease;
}

.proj1 img {
    /* position: relative; */
    /* display: flex;  */
    width: 98%;
    height: auto;
    flex: 2 0 50%;
    justify-content: space-between;
    align-items: stretch;
    /* margin-left: 20px; */
    
    border-radius: 30px;
    margin: 10px;
}

.proj1:hover {
    opacity: 1;
    transition: .5s ease;
}


/* .proj1:hover {
    opacity: 1;
    transition: .5s ease;
} */

h3 {
    /* position: relative; */
    /* bottom: 115px; */
    /* left: 60px; */
    background-color: var(--bkg-color);
    /* width: 150px; */
    opacity: .8;
    fill-opacity: var(--bkg-Scolor);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    line-height: 1.5;
    text-align: center;
    margin: 10px;
}

/* End Work Styles */

/* START Project2 */

.proj2 {
    /* border: 1px solid white; */
    /* display: flex; */
    width: 49%;
    margin: 0px 5px 0px 5px;
    height: 245px;
    /* justify-content: flex-start; */
}

.proj2 img {
    
    /* position: relative; */
    /* display: flex; */
    width: 100%;
    /* max-width: 30%; */
    height: auto; 
    flex: 0 1 100%;
    justify-content: space-between;
    /* margin-left: 20px; */
    opacity: .5;
    transition: .5s ease;
    border-radius: 30px;
    /* flex-wrap: nowrap; */
}

.proj2 img:hover {
    opacity: 1;
    transition: .5s ease;
}

 /* Start Contact Me */
 .contact {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid white; */
    /* margin-left: 100px; */
    /* display: flex; */
    width: 90%;
    
    height: 100%;
    /* align-items: center; */
    /* justify-content: center; */
}

.contact h2 {
    /* flex: 2 2 50%; */
    /* border: 1px solid white; */
    
    font-size: 2vw;
    /* text-align: right; */
    /* justify-content: flex-end;  */
    /* display: flex; */
    
    /* font-size: 2.25vw; */
    text-align: right;
    /* justify-content: flex-end; */
    /* width: 100%; */
    /* padding: 0px 30px 0px 10px;     */
   
    /* margin-left: 2px; */
    /* flex-wrap: nowrap; */
}

.info-box {
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* list-style: none;  */
    border-left: 5px solid var(--primary-color);
    width: 100%;
    /* flex: 3 2 100%; */
    padding-top: 20px;
    /* border: 1px solid white; */
    /* flex: 1 5 50%; */
    font-size: 1.3vw;
    /* margin: auto 0px; */
}

.link1 {
    /* display: flex; */
    /* justify-content: space-around; */
    text-align: center;
    /* padding: 10px; */
    /* margin: 10px; */
    border-bottom: 4px solid var(--primary-color);
    /* list-style: none; */
}

/* Start Footer */
footer {
    background: var(--secondary-color);
    width: 100%;
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: .5;
}

footer h4 {
    color: #8ec8ff;
    font-size: 15px;
    margin: 0;
}

/* End Footer */

