* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --primary-color: #00ff00bd;
    --secondary-color: #024e76;
    --tertiary-color: #1f1f1f;
    --bkg-color: rgb(68, 68, 68);
}

/* Start Body */
body {
    background-color: var(--bkg-color);
    color: var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link {
    color: aquamarine;
    text-decoration: none;
}

a:visited {
    color: rgb(93, 187, 156);
}

a:hover {
    color: rgb(158, 255, 145);
}

/* Start Header */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    /* color: white; */
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/kboard_grn_01.jpg");
    background-position: 80%;
    background-size: auto;
    background-attachment: fixed;
    z-index: 9999;
    opacity: .65;
    fill-opacity: var(--bkg-color);
    transition: .5s ease;
}

header:hover {
    opacity: 1;
    /* background-image: url(""); */
    transition: .5s ease;
}



#pic {
    /* display: flex; */
    width: 100px;
    height: 100px;
}

.fName {
    text-decoration: none;
    font-family: 'Beau Rivage', cursive;
    color: white;
    vertical-align: top;
    font-weight: bold;
    text-shadow: 0 0 3px #000000, 0 0 10px #000000;
    /* font-size: 35px; */
    /* font-family: 'Russo One', sans-serif; */
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 60px;
}
/* End Header */

/* Start Hero Style */
.hero {
    background-image: url("../images/kboard_grn_01.jpg");
    background-position: 80%;
    background-size: auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    height: 500px;
}

.hero p {
    display: flex;
    align-items: flex-end;
    width: auto;
    text-align: right;
    padding: 10px;
    color: rgb(0, 253, 0);
    font-size: 22px;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}
/* End Hero */

/* Start About styles */
.about, .contact, .work {
    font-family: 'Russo One', sans-serif;
    text-shadow: 0 0 5px #044a00, 0 0 20px #00ff15;
}

.aboutSec, .projects, .mode {
    border-left: 5px dotted #587c58;
}

.imgStyle {
    border-radius:  20px;
    margin: 0px;
    padding: 0px;
}

.proj1, .proj2, .proj3 {
    width: 100%;
    position: relative;
  }

  .overlay {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-weight: bold;
    text-align: right;
    font-size: 30px;
    background-color: #024e76;
    padding: 10px;
    border-radius: 20px;
    opacity: .7;
  }

  .cWatchBadge {
    position: absolute;
    bottom: 30px;
    left: 25px;
    font-weight: bold;
    text-align: right;
    font-size: 20px;
    background-color: #024e76;
    padding: 10px;
    border-radius: 20px;
    opacity: .7;
    
  }


/* End Footer */